<div class="categories">
  <div class="categories__panel">
    <div class="categories__add__panel__container">
      <button (click)="toggleCategoriesMenu()" class="categories__button">Choose any category {{symbol}}</button>
      <div class="categories__add__panel" *ngIf="menuIsOpen">
        <a routerLink="/categories/kids">For kids</a>
        <a routerLink="/categories/adults">For adults</a>
        <a routerLink="/categories/multiplayer">Multi player games</a>
      </div>
    </div>
    <main>
      <div *ngIf="!category" class="categories__container_null">Choose your category</div>
      <div *ngFor="let app of filteredArr">
        <span *ngIf="error">{{error}}</span>
        <app-app [app]="app"></app-app>
      </div>
    </main>
  </div>
</div>
