.categories{
  top:95px;
  position: relative;
}

.categories__button{
  background: none;
  border: none;
  padding: 5px 10px;
  outline: none;
}

.categories__container_null{
  align-items: center;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
}

.categories__add__panel{
  display: flex;
}

.categories__add__panel a{
  color: #25633d;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.categories__add__panel__container{
  display: flex;
  flex-direction: row;
}

