* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
}

/*Main*/

app-root{
  font-family: "Roboto",UILanguageFont,Arial,sans-serif;
}

app-modal-window{
  position: relative;
  top: 95px;
  width: 95%;
}

app-search-dashboard{
  width:95%;
}
