.header__nav{
  width: 100%;
}

.header__nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__nav li{
  padding: 15px 0;
  width: 33%;
  text-align: center;
}

.header__nav li:hover{
  background-color: #24292e;
  color: #f1af41;
}

.header__nav a{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.user-panel__container{
  position: relative;
}
